@font-face {
    font-family: "Gothic";
    src: url("MS Gothic.ttf");
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size:12px;
    margin: 0 auto;
    padding-top: 8px;
}

div {
    box-sizing: border-box;
}

.u-bg-black {
    background-color:#000;
}

.u-fg-white {
    color:#fff;
}

.u-bg-grey {
    background-color: rgb(199, 199, 199);
}

.u-bold {
    font-weight: bold;
}

.u-px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.u-py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.u-px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.u-py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.u-border-left-1 {
    border-left: 1px solid black;
}

.u-border-top-1 {
    border-top: 1px solid black;
}

.u-border-right-1 {
    border-right: 1px solid black;
}

.u-border-bottom-1 {
    border-bottom: 1px solid black;
}

.u-border-left-3 {
    border-left: 3px solid black;
}

.u-border-top-3 {
    border-top: 3px solid black;
}

.u-border-right-3 {
    border-right: 3px solid black;
}

.u-border-bottom-3 {
    border-bottom: 3px solid black;
}

.u-border-dotted {
    border-style: dotted;
}

.u-row {
    display:flex;
    flex-direction: row;
}

.u-flex {
    display:flex;
}

.u-flex-row {
    flex-direction: row;
}

.u-flex-column {
    flex-direction: column;
}

.u-text-min {
    font-size:10px;
}

.u-fill {
    width:100%;
}

/* CLASS */

.container {
    width:800px;
    margin:0 auto;
}
.title {
    text-align:center;
    text-transform:uppercase;
}
.pic {
    height: 160px;
    border: 3px solid black;
    margin-left: 10px;
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-left: 8px;
}

.frame {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.frame-row {
    display: flex;
    flex-direction: row;
}
.frame-row-title {
    display:flex;
    align-items: center;
}
.frame-row-cell {
    background-clip: border-box;
    width: 100%;
}